<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Material Design for Bootstrap fonts and icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic|Material+Icons">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/stylesheets/styles.css">

  <link rel="shortcut icon" type="image/png" href="../img/fav.png" />
  <title>Dashboard</title>

  <script>
    Date.prototype.toDateInputValue = (function () {
      var local = new Date(this);
      local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
      return local.toJSON().slice(0, 10);
    });
  </script>

</head>

<body>
  <nav class="navbar fixed-top bg-white  justify-content-end">
    <form class="form-inline mr-auto">
      <input class="form-control mr-sm-2 pr-5 border-0 bg-light" type="search" placeholder="Search..." aria-label="Search">
      <i class="material-icons text-muted">search</i>
    </form>
    <div class="flash-msg  mr-auto">
      <% if(error && error.length > 0){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
          <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
              <%= success %>
            </div>
            <% } %>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-capitalize" href="/logout">Log Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-capitalize" href="/user/<%= currentUser._id %>/profile">
          <%= currentUser.username %>
        </a>
      </li>
    </ul>

  </nav>
  <div class="container-fluid">
    <!-- <div class="row sub-nav d-flex align-items-center">
      <div class="greeting-msg d-flex align-items-center ">
        <h3>Dashboard</h3>
        <a href="/" class="btn btn-link text-muted">Home</a>
      </div>
      <div class="flash-msg ml-auto mr-5">
        <% if(error && error.length > 0){ %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <% } %>
            <% if(success && success.length > 0){ %>
              <div class="alert alert-success" role="alert">
                <%= success %>
              </div>
              <% } %>
      </div>
    </div> -->

  </div>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col sidebar">
        <div class="glass">
          <div class="glass-inner">
            <a href="/" class="logo">
              <img src="../img/logo.png" alt="Logo">
            </a>
            <ul class="nav flex-column mt-3">
              <li class="nav-item">
                <a class="nav-link py-3 active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-3" href="/task/new">Add New Task</a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-3" href="/track/new">Track Product progress</a>
              </li>
              <li class="nav-item">
                <a class="nav-link py-3" href="#">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col main">