<% include partials/header %>

  <div class="row">
    <div class="col-xl-9 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            Recent Task
          </h3>
        </div>
        <div class="card-content">
          <div class="table-responsive">
            <table class="table table-hover mb-0 ps-container">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Job For</th>
                  <th>Author</th>
                  <th>Status</th>
                  <th>Actio</th>
                </tr>
              </thead>
              <% tasks.slice(-5).forEach(function(task){ %>
                <tbody>
                  <tr class="">
                    <td class="py-3">
                      <%= task.name %>
                    </td>
                    <td class="py-3">
                      <%= task.desc %>
                    </td>
                    <td class="py-3">
                      <%= task.jobType %>
                    </td>
                    <td class="py-3">
                      <%= task.author.username %>
                    </td>
                    <td class="py-3 status">
                      <% if (task.status == 'empty') { %>
                        <span class="badge badge-pill badge-danger">Not Taken</span>
                        <% } else if (task.status == 'taken') { %>
                          <span class="badge badge-pill badge-info">Taken</span>
                          <% } else if (task.status == 'finished') { %>
                            <span class="badge badge-pill badge-success">Finished</span>
                            <% } %>
                    </td>
                    <td class="d-flex py-3">
                      <a href="/task/<%= task._id %>">
                        <i class="material-icons">more_horiz</i>
                      </a>
                      <i class="material-icons">done</i>
                      <form class="d-inline" action="/task/<%= task._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger p-0">
                          <i class="material-icons">close</i>
                        </button>
                      </form>
                    </td>
                  </tr>
                </tbody>
                <% }); %>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            New Product
          </h3>
        </div>
        <div class="card-body">
          <table class="table">
            <caption>List of products</caption>
            <!-- <thead>
              <tr>
                <th scope="col">Product Name</th>
                <th scope="col"></th>
              </tr>
            </thead> -->
            <tbody>
              <tr>
                <td>Onycoslve</td>
                <td>
                  <a href="#" class="btn btn-info pt-0 font-weight-normal">View More</button>
                </td>
              </tr>
              <tr>
                <td>Onycoslve</td>
                <td>
                  <a href="#" class="btn btn-info pt-0 font-weight-normal">View More</button>
                </td>
              </tr>
              <tr>
                <td>Onycoslve</td>
                <td>
                  <a href="#" class="btn btn-info pt-0 font-weight-normal">View More</button>
                </td>
              </tr>
              <tr>
                <td>Onycoslve</td>
                <td>
                  <a href="#" class="btn btn-info pt-0 font-weight-normal">View More</button>
                </td>
              </tr>
              <tr>
                <td>Onycoslve</td>
                <td>
                  <a href="#" class="btn btn-info pt-0 font-weight-normal">View More</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            Recent Task
          </h3>
        </div>
        <div class="card-content">
          <div class="table-responsive">
            <table class="table table-hover mb-0 ps-container">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Job For</th>
                  <th>Author</th>
                  <th>Status</th>
                  <th>Actio</th>
                </tr>
              </thead>
              <% tasks.slice(-5).forEach(function(task){ %>
                <tbody>
                  <tr class="">
                    <td class="py-3">
                      <%= task.name %>
                    </td>
                    <td class="py-3">
                      <%= task.desc %>
                    </td>
                    <td class="py-3">
                      <%= task.jobType %>
                    </td>
                    <td class="py-3">
                      <%= task.author %>
                    </td>
                    <td class="py-3 status">
                      <% if (task.status == 'empty') { %>
                        <span class="badge badge-pill badge-danger">Not Taken</span>
                        <% } else if (task.status == 'taken') { %>
                          <span class="badge badge-pill badge-info">Taken</span>
                          <% } else if (task.status == 'finished') { %>
                            <span class="badge badge-pill badge-success">Finished</span>
                            <% } %>
                    </td>
                    <td class="d-flex py-3">
                      <a href="/task/<%= task._id %>">
                        <i class="material-icons">more_horiz</i>
                      </a>
                      <i class="material-icons">done</i>
                      <form class="d-inline" action="/task/<%= task._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger p-0">
                          <i class="material-icons">close</i>
                        </button>
                      </form>
                    </td>
                  </tr>
                </tbody>
                <% }); %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script>
    let status = document.querySelector('.status');
  </script>
  <% include partials/footer %>